button{
  border: none;
  margin: 20px;
  min-width: 120px;
  background-color: rgb(216, 216, 216);
  color: rgb(54, 54, 54);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}
