h3,
p,
div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.score-container {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 6px;
  padding: 5px 20px 20px 20px;
  color: #a2d121;
}

.score {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.player-name{
  font-size: 16px;
}

.score-number {
  font-size: 40px;
  margin-bottom: 5px;
}

.score-container h3 {
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}
