div, h3, p{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.moves{
  margin: 100px 0px 80px 0px;
}

hr{
  width:60vw;
}

.userP, .computerP{
  font-size: 16px;
  text-align: left;
}

section{
  min-height: 40px;
  text-align: center;

}
